@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Prueba tecbica</h1>
    <p class="lead">Prueba tecnica de julio fuentes para Nexos </p>
    <p class="lead">Se utiliza datatables para manejar los listados dinamicamente </p>
    <p><a asp-area="" asp-controller="Autores" asp-action="Listar" class="btn btn-primary ">Autores &raquo;</a></p>
    <p><a asp-area="" asp-controller="Libros" asp-action="Listar" class="btn btn-primary ">Libros &raquo;</a></p>
    <p><a asp-area="" asp-controller="Configuraciones" asp-action="Listar" class="btn btn-primary ">Configuraciones &raquo;</a></p>

</div>


